<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353732230773-7l568vpmd03aba2gl1onc6s0tpbvek8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353732230773-7l568vpmd03aba2gl1onc6s0tpbvek8q</string>
	<key>API_KEY</key>
	<string>AIzaSyDNY0vM85UoclZv_vkEkobOIyxOnMHBIW0</string>
	<key>GCM_SENDER_ID</key>
	<string>353732230773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.seoul.test</string>
	<key>PROJECT_ID</key>
	<string>byseoul-e9868</string>
	<key>STORAGE_BUCKET</key>
	<string>byseoul-e9868.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353732230773:ios:7300f8b2cbc4fa6b72023c</string>
	<key>DATABASE_URL</key>
	<string>https://byseoul-e9868.firebaseio.com</string>
</dict>
</plist>